.leaflet-container {
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

body {
  font-family: sans-serif;
}
hr {
  border-top: 2px solid rgb(92, 92, 92);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#top-spacer-div {
  height: 50px;
}

#bottom-spacer-div {
  height: 200px;
}

.no-margin-div {
  margin: 0;
  padding: 0;
}

.menu-bar {
  overflow: hidden;
  position:fixed;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 210, 32);
  width: 100%;
  max-height: 100px;
  z-index: 2;
}

.navbar-bottom {
  background-color: rgb(255, 210, 32);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.205);
}

.li-picture-div {
  /* border-width: 1px;
  border-style: dotted; */
  width: 75px;
}

/* .li-info-div {
  border-width: 1px;
  border-style: dotted;
} */

.profile-img {
  max-width: 40%;
  height: auto;
  align-content: center;
}

.li-img {
  max-width: 100%;
  height: auto;
}

.thumb-img {
  max-width: fit-content;
  min-width: fit-content;
  max-height: 60px;
  min-height: 50px;
  height: auto;
}

.li-div {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.grey-text {
  color: grey;
}
.center-text-div {
  text-align: center;
  margin-top: 5px;
  /* padding: 2px; */
}

#top-menu-div {
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  position: relative;
  padding: 10px;
  background-color: rgb(255, 210, 32);
}

.spacer-div {
  height: 7px;
}

.card-div {
  background-color: rgb(226, 226, 226);
  padding: 5px;
}
.orange-button {
  background-color: rgb(255, 210, 32);
  text-align: center;
  padding: 2px;
  margin: auto;
  width: 50%;
}
.grey-box {
  background-color: rgb(224, 224, 224);
}

/* Bid styles */
.bid-container {
  border-style: solid;
  width: vw;
  margin: 20px;
  padding: 10px;
}

#chat-box {
  background-color: aqua;
  width: 70%;
  height: 100px;
  border-style: solid;
}
.bid-container button,
span,
div,
p,
h1,
h2 {
  margin: 10px 10px 0px 10px;
}

#bid-status {
  color: rgb(65, 65, 222);
}

#bidder-name {
  font-weight: bold;
}
.map {
  display: flex;
  width: 100%;
  margin-top:90px;
}
.createFavorMap {
  display: flex;
}
/* global styling */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: 0;
  left: 36px;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-geosearch-button form.open {
  border-radius: 0 4px 4px 4px;
}
.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-geosearch-button.active .leaflet-bar-part {
  border-radius: 4px 0 0 4px;
  width: 36px;
}

.leaflet-geosearch-button form {
  max-width: 350px;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 26px;
  border: none;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-touch .leaflet-geosearch-bar form {
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: none;
}

.leaflet-touch .leaflet-geosearch-bar form input {
  height: 30px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #c6c6c6;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}